## 步骤 1 - 安装所需的 Python 环境及包

## 步骤 2 - 初步读入并清洗数据

In [48]:
import pandas as pd

df = pd.read_csv("./tweets.csv")
df.head(5)

,text,label,roberta,roberta_score,gpt2,gpt2_score
0,@user @user what do these '1/2 naked pics' hav...,neutral,0,0.8047260642051697,LABEL_2,0.9134505987167358
1,OH: âI had a blue penis while I was thisâ?[...,neutral,1,0.8669487237930298,LABEL_1,0.7534046173095703
2,"@user @user That's coming, but I think the vic...",neutral,1,0.7637239098548889,LABEL_2,0.9999619722366333
3,I think I may be finally in with the in crowd ...,positive,2,0.7740470767021179,LABEL_2,0.8987836837768555
4,"@user Wow,first Hugo Chavez and now Fidel Cast...",negative,1,0.41639748215675354,LABEL_2,0.9864314198493958

我们可以发现，Roberta 使用 0/1/2 来分别代表 negative/neutral/positive，而 gpt2 使用 LABEL_0/1/2 来代表 negative/neutral/positive。为了方便后续处理，我们需要进行清理。

In [49]:
df = df[(df['gpt2'].isin(['LABEL_0', 'LABEL_1', 'LABEL_2']))]
df = df[(df['roberta'].isin(['0','1','2']))]
print(df['roberta'].value_counts())
print(df['gpt2'].value_counts())

roberta
1    168
0    153
2     87
Name: count, dtype: int64
gpt2
LABEL_2    232
LABEL_1    110
LABEL_0     66
Name: count, dtype: int64

In [50]:
def label_map_gpt2(x):
    mapping = {"LABEL_0": "negative", "LABEL_1": "neutral", "LABEL_2": "positive"}
    return mapping[x]
    
def label_map_roberta(x):
    mapping = {0: "negative", 1: "neutral", 2: "positive"}
    return mapping[int(x)]

df['gpt2'] = df['gpt2'].map(label_map_gpt2)
df['roberta'] = df['roberta'].map(label_map_roberta)
df.head(5)

,text,label,roberta,roberta_score,gpt2,gpt2_score
0,@user @user what do these '1/2 naked pics' hav...,neutral,negative,0.8047260642051697,positive,0.9134505987167358
1,OH: âI had a blue penis while I was thisâ?[...,neutral,neutral,0.8669487237930298,neutral,0.7534046173095703
2,"@user @user That's coming, but I think the vic...",neutral,neutral,0.7637239098548889,positive,0.9999619722366333
3,I think I may be finally in with the in crowd ...,positive,positive,0.7740470767021179,positive,0.8987836837768555
4,"@user Wow,first Hugo Chavez and now Fidel Cast...",negative,neutral,0.41639748215675354,positive,0.9864314198493958

Zeno 处理要求我们增加 input_length 列与 id 列，对数据进行进一步处理

In [51]:
df["input_length"] = df["text"].str.len()
df['id'] = df.index
df.head(5)

,text,label,roberta,roberta_score,gpt2,gpt2_score,input_length,id
0,@user @user what do these '1/2 naked pics' hav...,neutral,negative,0.8047260642051697,positive,0.9134505987167358,96,0
1,OH: âI had a blue penis while I was thisâ?[...,neutral,neutral,0.8669487237930298,neutral,0.7534046173095703,75,1
2,"@user @user That's coming, but I think the vic...",neutral,neutral,0.7637239098548889,positive,0.9999619722366333,87,2
3,I think I may be finally in with the in crowd ...,positive,positive,0.7740470767021179,positive,0.8987836837768555,83,3
4,"@user Wow,first Hugo Chavez and now Fidel Cast...",negative,neutral,0.41639748215675354,positive,0.9864314198493958,133,4

## 步骤 3 - 启动 Zeno 进行模型分析

创建一个 [Zeno](https://hub.zenoml.com/account) 账号，阅读如下代码并正确运行，运行完成后你将在个人账户下看到创建的 projects

In [52]:
from zeno_client import ZenoClient, ZenoMetric
import pandas as pd

client = ZenoClient('zen_i6vx1iz1Ayn1XEfiwk5WBt6g3QlnGZpAYFFOajreLBs')

# 创建项目
proj = client.create_project(
    name="Twitter Sentiment Analysis",
    view="text-classification",
    metrics=[
        ZenoMetric(name="roberta_accuracy", type="mean", columns=["roberta_correct"]),
        #TODO 类比上述方法，为 gpt2 模型创建相应的评估指标
        ZenoMetric(name="gpt2_accuracy", type="mean", columns=["gpt2_correct"]),
    ]
)

proj.upload_dataset(df, id_column="id", data_column='text', label_column="label")

# 为 Roberta 模型分别创建系统数据框
df_roberta = pd.DataFrame({
    "id": df["id"],
    "output": df["roberta"],
    "roberta_correct": (df["roberta"] == df["label"]).astype(int)
})
proj.upload_system(df_roberta, name="Roberta", id_column="id", output_column="output")
#TODO 类比上述方法，为 gpt2 模型创建系统数据框
# 为 GPT-2 模型创建系统数据框
df_gpt2 = pd.DataFrame({
    "id": df["id"],
    "output": df["gpt2"],
    "gpt2_correct": (df["gpt2"] == df["label"]).astype(int) # 计算 GPT-2 模型的预测是否正确
})
proj.upload_system(df_gpt2, name="GPT-2", id_column="id", output_column="output") # 上传 GPT-2 系统

Successfully updated project.
Access your project at  https://hub.zenoml.com/project/75249cec-91b7-4486-a7df-7a0eef240401/Twitter%20Sentiment%20Analysis

d:\Users\asus\AppData\Local\Programs\Python\Python311\Lib\site-packages\zeno_client\util.py:25: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['0' '1' '2' '3' '4' '5' '6' '7' '8' '9' '10' '11' '12' '13' '14' '15'
 '16' '17' '18' '19' '20' '21' '22' '24' '25' '26' '27' '28' '30' '31'
 '32' '33' '34' '35' '36' '37' '38' '39' '40' '41' '42' '44' '45' '46'
 '47' '48' '50' '51' '52' '53' '56' '57' '58' '59' '60' '61' '62' '63'
 '65' '66' '68' '69' '70' '71' '72' '73' '74' '75' '76' '77' '78' '79'
 '80' '81' '82' '83' '84' '85' '86' '87' '88' '89' '90' '91' '93' '94'
 '95' '96' '98' '99' '100' '101' '102' '103' '104' '105' '106' '109' '110'
 '111' '112' '113' '114' '115' '117' '118' '119' '120' '121' '122' '123'
 '124' '125' '126' '127' '128' '129' '130' '131' '132' '133' '134' '135'
 '136' '137' '138' '139' '140' '141' '142' '143' '144' '149' '150' '152'
 '153' '154' '155' '156' '157' '158' '159' '160' '161' '162' '163' '164'
 '165' '166' '167' '168' '169' '170' '171' '172' '173' '174' '175' '178'
 '179' '180' '182' '183' '184' '185' '187' '188' '189' '190' '191' '192'
 '193' '194' '195' '197' '198' '199' '200' '201' '202' '203' '204' '205'
 '206' '207' '208' '209' '210' '211' '212' '213' '214' '215' '216' '217'
 '218' '220' '221' '222' '223' '224' '225' '226' '227' '230' '231' '232'
 '233' '234' '235' '236' '237' '238' '239' '240' '241' '242' '244' '245'
 '246' '248' '249' '250' '251' '252' '253' '254' '255' '256' '258' '259'
 '260' '261' '262' '263' '264' '265' '266' '267' '269' '270' '271' '272'
 '273' '274' '275' '276' '277' '278' '279' '280' '281' '282' '283' '284'
 '285' '286' '287' '289' '290' '291' '292' '293' '294' '295' '296' '298'
 '300' '301' '302' '303' '304' '305' '307' '308' '309' '312' '313' '314'
 '315' '316' '317' '318' '320' '321' '323' '324' '325' '327' '328' '329'
 '330' '331' '332' '333' '334' '335' '336' '337' '338' '340' '341' '342'
 '343' '344' '345' '346' '347' '348' '349' '350' '351' '352' '353' '354'
 '355' '356' '357' '358' '360' '361' '362' '363' '364' '365' '366' '367'
 '368' '369' '370' '371' '372' '373' '374' '375' '376' '377' '380' '382'
 '383' '384' '385' '386' '388' '390' '391' '392' '393' '394' '395' '397'
 '398' '401' '402' '404' '405' '406' '407' '408' '409' '410' '411' '412'
 '413' '414' '415' '416' '417' '418' '419' '420' '421' '422' '423' '424'
 '425' '426' '427' '428' '429' '430' '431' '432' '433' '434' '435' '436'
 '437' '438' '439' '440' '441' '442' '443' '444' '445' '446' '447' '448'
 '449' '450' '451' '452' '453' '454' '455' '456' '459']' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[:, id_column] = df[id_column].astype(str)

  0%|          | 0/1 [00:00<?, ?it/s]

Successfully uploaded data

  0%|          | 0/1 [00:00<?, ?it/s]

Successfully uploaded system

  0%|          | 0/1 [00:00<?, ?it/s]

Successfully uploaded system

## 步骤 4 - 创建分析切片并进一步分析

你一共需要利用 Zeno 提供的接口创建 5 个不同的切片。

你可以首先创建两个切片：

1. 有标签的推文（含有"#"）
2. 有强烈正向情感的词语（如 love），你可以自行决定一个词

创建切片可以直接通过点击 "+" 按钮来进行，可以通过基本值匹配或正则表达式的方式创建，具体用法参见[文档](https://zenoml.com/docs/intro/)

![image.png](images/image.png)

有关 Zeno 中更多有趣的用法可以参考 Zeno 仓库中的 [README](https://github.com/zeno-ml/zeno)。

在此处写下你想要另外创建的三个切片，并在个人 Zeno 账户中创建，针对每一个创建的切片，用一两句话总结模型在其上的表现特点：

3. 有政治关键词的推文（trump、politics、vote、biden等）：模型预测较差，可能是因为有关政治的推文大部分都是反串讽刺，说反话
4. 长度大于100的推文：模型预测较差，对长句子的情感把控较差
5. gpt2和roberta预测结果不同的推文：模型预测结果差异明显，相比之下roberta预测更准确一些

## 提交：
1. 本 notebook，保留你书写的代码与输出结果
2. 一张截图，显示你创建的 5 个切片